.card_container {
	display: flex;
	flex-direction: column;
	background-color: #95dada;
	border: 2px dashed gray;
	border-radius: 7px;
	padding: 28px;
	cursor: pointer;

	/* Animation stuff that I've forgotten */
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: transform .25s ease-out;
}

.card_container:hover {
	transform: scale(1.1);
}
